<html>
<head>
    <title>WonderCode</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<div class="container">
    <h1>WonderCode</h1>
    <span>"Learn by code examples"</span>
</div>