<html>
<head>
    <title>WonderCode</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<div class="container">
    <h1>WonderCode</h1>
</div>

<div>
    <ul>
        {{#projects}}
        <li><a href="{{url}}"> {{name}} </a></li>
        {{/projects}}
    </ul>
</div>

</body>
</html>