<html>
<head>
    <title>WonderCode</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<div class="container">
    <h1>WonderCode</h1>
    <span>"Learn by code examples"</span>
</div>

<br/>
<div>Find me projects using:</div>
<button type="button"><a href="/tags/clojure">Clojure</a></button>
<button type="button"><a href="/tags/monger">Monger</a></button>

<div>
    <ul>
        {{#projects}}
        <li><a href="{{url}}"> {{name}} </a></li>
        {{/projects}}
    </ul>
</div>

</body>
</html>